#deck-input {
    height: 1000px;
}

#deck-input-div {
    position:absolute;
    left:5px;
    top:20px;
}

#card-box {
    position:absolute;
    left: 25%;
    top: 10%;
}

#button-box {
    margin: 5px;
}

#results-box {
    margin: 5px;
}

.CardDisplayBar {
    display: flex;
    flex-direction: row;
}